body{

background-image: url(assets/cachorro\ fofinho.jpg);

}
.FormularioAdocao {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    margin: 30px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
color: rgb(119, 30, 30);

}


h1{
text-align: center;

}
input{
    border-radius: 10px;
}
textarea{
border-radius: 20px; 
}
label{
border-radius: 20px;

}
